/* multiselect components styles */
.multiselect-content {
    width: 100%;
    margin-top: 30px;
    padding-top: 10px;
}
.multiselect-input {
    margin-bottom: 10px;
}
.rmsc {
    --rmsc-radius: 12px !important;
    --rmsc-border: #753b10 !important;
    /* --rmsc-focus: #f1f3f5 important; */
    /* --rmsc-main: #4285f4;
    --rmsc-hover: #f1f3f5;

    --rmsc-gray: #aaa;
    --rmsc-bg: #eecd94!important;
    --rmsc-p: 10px; */
    --rmsc-selected: #422211 !important;
    --rmsc-h: 32px !important;
}
.rmsc.multiselect-input > .dropdown-container {
    background-color: #c66f1a !important;
}
.rmsc.multiselect-input > .dropdown-container > .dropdown-heading {
    z-index: 55;
}

.rmsc.multiselect-input > .dropdown-container > .dropdown-content {
    z-index: 100;
}
.dropdown-heading-value > span {
    color: #fff !important;
}
/* tooltip style */
.custom-tooltip {
    background: linear-gradient(70deg, #fc9221, #5a290d);
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
}
.custom-tooltip > h6,
.custom-tooltip > p {
    margin: 0;
    padding: 0;
}

/* charts fonts styles */
tspan,
text {
    font-family: "Trade Gothic";
}

/* react-google-chart tooltip style change */
.google-visualization-tooltip > path {
    fill: #e9ebf2;
    border-radius: 25px !important;
}
.google-visualization-tooltip > g > text {
    fill: #000;
}
.google-visualization-tooltip {
    pointer-events: none;
}

/* pie chart style */
.pie-content-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.pie-content {
    display: flex;
    width: 100%;
}
.single-content > p {
    margin: 0;
    font-family: "Trade Gothic";
    font-size: 82px;
    font-weight: 800;
    color: #fff;
}
.right-hr-positive,
.right-hr-negative {
    width: 4px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
}
.right-hr-positive {
    background-color: #753b10;
}
.right-hr-negative {
    margin-left: 15px;
    background-color: #e1801e;
}
.total-value > p,
.single-value,
.value-text,
.value-percent {
    font-family: "Trade Gothic";
    margin: 0;
}
.total-value > p {
    font-size: 16px;
    font-weight: 600;
    color: #fffffe;
    font-family: "Trade Gothic";
}
.single-value {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}
.value-text {
    margin: -5px 0 0 0 !important;
    font-size: 11px;
    color: whitesmoke;
}
.value-percent {
    font-size: 15px;
    color: rgb(241, 237, 237);
    font-weight: 500;
}

/* line chart style */
.progressTooltipContainer {
    background: linear-gradient(90deg, #00447a 0%, #294cca 100%);
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
}
.processTooltip > p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.recharts-legend-wrapper .recharts-default-legend .recharts-legend-item:hover {
    opacity: 0.5;
}
.custom-button {
    width: 100%;
    background: #c66f1a;
    border: none;
    border-radius: 7px;
    color: #fff;
    height: 32px;
    font-weight: 400;
    border: 1px solid #753b10;
}
.custom-p {
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}
@media (max-width: 1200px) and (min-width: 996px) {
    .region {
        margin-left: 12px;
    }
    .custom-p {
        font-size: 13px;
    }
    .dashboard-heading {
        font-size: 22px;
        margin-left: 0px !important;
    }
}
.date-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 100px;
}
.cal-con {
    position: relative;
}
/* custom calender style */
.rmdp-container {
    width: 100%;
}
.custom-input {
    border-radius: 15px;
    border: 1px #753b10 solid;
    padding: 4px 12px;
    height: 32px;
    box-shadow: 0 0 2px #753b10;
    text-align: right;
    font-weight: 400;
    width: 100%;
    color: #fff;
}

.custom-input:focus {
    outline: none;
    border: 1px solid #3dcbf8 !important;
    box-shadow: 0 0 10px 2px #753b10 !important;
}
.custom-input::placeholder {
    opacity: 1 !important;
    color: #fff;
}
.calender-icon {
    position: absolute;
    top: 35px;
    z-index: 10;
    left: 20px;
    cursor: pointer;
}

.rmsc .gray {
    color: #fff !important;
}
.rmsc.multiselect-input .dropdown-container:focus-within {
    border: 1px solid #753b10 !important; /* Change the border color */
    outline: none !important; /* Remove default blue outline */
}
.rmsc.multiselect-input .dropdown-container:focus-within {
    box-shadow: none !important; /* Disable focus shadow */
    border: 1px solid #674669 !important; /* Your custom border */
}

@media only screen and (max-width: 994px) {
    .multiselect-main-container {
        margin-top: 50px;
    }
    .multiselect-content {
        position: relative;
        margin: 0 auto;
    }
    .main-container {
        padding-top: 0px !important;
    }
}
